<body>
  <!-- Main Section -->
  <main>
    <h1 id="homeTitle" class="text-2xl font-bold underline">Featured Books</h1>
    <section id="featured-books">
      
      <!-- Include book cards or other featured content here -->
    </section>

    <section id="gallery">
      <h2 id="homeTitle">Featured Gallery</h2>
      <div class="gallery-container">
        {{#each galleryItems}}
          <div class="gallery-item">
            {{cover_edition_key}}<img
              src="https://covers.openlibrary.org/b/olid/{{cover_edition_key}}-M.jpg"
              alt="{{title}}"
            />
            <p>{{title}} ({{first_publish_year}})</p>
            <p>Author: {{author_name}}</p>
            <p>Rating: {{ratings_average}}</p>
            <p>{{first_sentence}}</p>
          </div>
        {{/each}}
      </div>
    </section>
  </main>

  <script src="/js/homepageFunctions/seedHomepage.js"></script>
  {{#if logged_in}}
    <script src="/js/homepageFunctions/addBook.js"></script>
  {{/if}}
</body>